<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Made_Paynova>
            <version>1.0.0</version>
        </Made_Paynova>
    </modules>
    <global>
        <translate>
            <modules>
                <Made_Paynova>
                    <files>
                        <default>Made_Paynova.csv</default>
                    </files>
                </Made_Paynova>
            </modules>
        </translate>
        <models>
            <made_paynova>
                <class>Made_Paynova_Model</class>
            </made_paynova>
        </models>
        <blocks>
            <made_paynova>
                <class>Made_Paynova_Block</class>
            </made_paynova>
        </blocks>
        <helpers>
            <made_paynova>
                <class>Made_Paynova_Helper</class>
            </made_paynova>
        </helpers>
    </global>
    <frontend>
        <secure_url>
            <made_paynova>/made_paynova</made_paynova>
        </secure_url>
        <routers>
            <made_paynova>
                <use>standard</use>
                <args>
                    <module>Made_Paynova</module>
                    <frontName>made_paynova</frontName>
                </args>
            </made_paynova>
        </routers>
    </frontend>
    <default>
        <payment>
            <made_paynova_general>
                <test>1</test>
                <api_url_test><![CDATA[https://extdev01api.paynova.com/]]></api_url_test>
            </made_paynova_general>
            <made_paynova_invoice>
                <active>0</active>
                <title>Paynova Invoice</title>
                <test>1</test>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <model>made_paynova/payment_invoice</model>
            </made_paynova_invoice>
            <made_paynova_installment>
                <active>0</active>
                <title>Paynova Installment</title>
                <test>1</test>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <model>made_paynova/payment_installment</model>
            </made_paynova_installment>
            <made_paynova_card>
                <active>0</active>
                <title>Paynova Card</title>
                <test>1</test>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <model>made_paynova/payment_card</model>
            </made_paynova_card>
            <made_paynova_online_bank>
                <active>0</active>
                <title>Paynova Online Bank</title>
                <test>1</test>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <model>made_paynova/payment_onlineBank</model>
            </made_paynova_online_bank>
        </payment>
    </default>
</config>